<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login Form</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form action="#" th:action="@{/login}" th:object="${account}" method="post">
            <p th:if="${error}" class="error">Email or Password Incorrect</p>
            <div class="row">
                <label for="email">Email</label><input type="text" id="email" name="email" th:value="*{email}">
            </div>
            <div class="row">
                <label for="password">Password</label><input type="password" id="password" name="password"
                                                             th:value="*{password}">
            </div>
            <div class="row button">
                <input type="submit" name="login" value="Login">
            </div>
            <div class="row button">
                <input type="submit" name="register" value="Register">
            </div>
        </form>
    </div>
</div>
