<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Home</span></div>
        <form action="#" th:action="@{/home}" method="post">
            <!--            <div class="row button">-->
            <!--                <input type="submit" name="home" value="Home">-->
            <!--            </div>-->
            <div class="row button">
                <input type="submit" name="profile" value="Profile">
            </div>
            <!--            <div class="row button">-->
            <!--                <input type="submit" name="message" value="Message">-->
            <!--            </div>-->
        </form>
    </div>
</div>
